# Distribution / packaging
.Python
.build
package-lock.json

# Put stuffs here for your local dev specific purpose
.local/

develop-eggs/
eggs/
.eggs/
venv/
.venv/
env/
.env
*.egg-info/
*.egg
*__pycache__*
.pytest_cache/

# IDE
.idea
.DS_Store

# Environment files
*.log
**/layers/python/
**/layers/**/*.zip

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out/
cdk.context.json

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*.sqlite3

# SQL dumps, data, etc...

data/

Brewfile.lock.json
*.xml

target/

.coverage
htmlcov/
