# See https://prettier.io/docs/en/ignore.html

# Ignore artifacts:
build/
coverage/

# Ignore all HTML files:
*.html

.pre-commit-config.yaml
buildspec.yml
compose.yml
docker-compose.yml
docker-compose.ci.yml
docker-compose.override.sample.yml
README.md

cdk.out/
cdk.json
cdk.context.json

.yarn/
.yarnrc.yml

tsconfig.json

config/event_schemas/

.local/
skel/
docs/
openapi/
shared/

# TODO still early days let ignore prettier them (microservice apps) for now
lib/workload/stateful/filemanager/
lib/workload/stateless/
