PG_DD_URL=postgresql://orcabus:orcabus@0.0.0.0:5432# pragma: allowlist secret
PG_DD_DIR=data
PG_DD_BUCKET=bucket
PG_DD_PREFIX=pg-dd

PG_DD_DATABASE_METADATA_MANAGER=metadata_manager
PG_DD_DATABASE_SEQUENCE_RUN_MANAGER=sequence_run_manager
PG_DD_DATABASE_WORKFLOW_MANAGER=workflow_manager
PG_DD_DATABASE_FILEMANAGER=filemanager
PG_DD_DATABASE_FILEMANAGER_SQL_DUMP='select * from s3_object order by sequencer limit 10000'
PG_DD_DATABASE_FILEMANAGER_SQL_LOAD=s3_object