PG_DD_URL=postgresql://orcabus:orcabus@0.0.0.0:5432/orcabus# pragma: allowlist secret
PG_DD_DIR=data

PG_DD_DATABASE_METADATA_MANAGER=metadata_manager
PG_DD_DATABASE_SEQUENCE_RUN_MANAGER=sequence_run_manager
PG_DD_DATABASE_WORKFLOW_MANAGER=workflow_manager
PG_DD_DATABASE_FILEMANAGER=filemanager
PG_DD_DATABASE_FILEMANAGER_SQL="select * from s3_object"