# Example env file which sets the DATABASE_URL to a local postgres instance.
FILEMANAGER_DATABASE_HOST=0.0.0.0
FILEMANAGER_DATABASE_PORT=4321

DATABASE_URL=postgresql://filemanager:filemanager@${FILEMANAGER_DATABASE_HOST}:${FILEMANAGER_DATABASE_PORT}/filemanager #pragma: allowlist secret
API_PORT=8000

FILEMANAGER_LINKS_URL=localhost:8000
FILEMANAGER_API_CORS_ALLOW_ORIGINS=http://localhost:8000
FILEMANAGER_API_CORS_ALLOW_HEADERS=accept,authorization,content-type,user-agent,x-csrftoken,x-requested-with,x-amz-security-token,x-amz-date,content-disposition
