{
  "swagger": "2.0",
  "info": {
    "title": "Genomic Data Store Service",
    "version": "v1"
  },
  "host": "aps2.platform.illumina.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/files/{fileId}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get details about a file, including a pre-signed URL for download",
        "description": "Get information and details for the specified file ID, including metadata and a pre-signed URL for file download. The URL can be used as a curl command or directly with S3.",
        "operationId": "getFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "Unique identifier for the file to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "Optional parameter to see shared data in another tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "presignedUrlMode",
            "description": "Optional parameter to specify presigned url's content-disposition. If not specified, the browser will determine the default behavior.\r\n            Possible values: Attachment, Inline, Browser",
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeVolumeMetadata",
            "description": "Optional parameter to return volume's metadata",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "metadata.include",
            "description": "Optional parameter to specify comma separated patterns to include metadata by their field names.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata.exclude",
            "description": "Optional parameter to specify comma separated patterns to exclude metadata by their field names.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FileResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "File not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Files"
        ],
        "summary": "Update a file entry in GDS and get temporary credentials for upload",
        "description": "Update a file entry in GDS. Returns temporary credentials and presigned url(s) for file upload directly to S3 when the include=objectStoreAccess parameter is used. Note that the currently supported changes to the file resource are updating the file type and the underlying content.",
        "operationId": "updateFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "Unique identifier for the file to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess",
            "type": "string"
          },
          {
            "in": "query",
            "name": "uploadPartCount",
            "description": "Optional number of parts for the presigned url for uploads (1 - 10000)",
            "type": "integer",
            "format": "int32",
            "maximum": 10000,
            "minimum": 1
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateFileRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FileWriteableResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "File not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Permanently delete a file",
        "description": "Permanently delete a file entry and its underlying content",
        "operationId": "deleteFile",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "Unique identifier for the file to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "File not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/files": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Create a file entry in GDS and get temporary credentials for upload",
        "description": "Create a file entry in GDS. Returns temporary credentials and presigned url(s) for file upload directly to S3 when the include=objectStoreAccess parameter is used. Volume ID or volume name is required for file creation. If a folder path is provided and does not exist, GDS creates the folder path in the appropriate account automatically.",
        "operationId": "createFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess",
            "type": "string"
          },
          {
            "in": "query",
            "name": "uploadPartCount",
            "description": "Optional number of parts for the presigned url for uploads (1 - 10000)",
            "type": "integer",
            "format": "int32",
            "maximum": 10000,
            "minimum": 1
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFileRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created new File.",
            "schema": {
              "$ref": "#/definitions/FileWriteableResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "A conflict was found. Make sure the new File doesn't already exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Files"
        ],
        "summary": "Updates list of files with metadata",
        "description": "Updates list of files with metadata",
        "operationId": "bulkFileUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/BulkFileUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/BulkFileUpdateResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/BulkFileUpdateResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get a list of files",
        "description": "Given a volumeId or volume name, get a list of files accessible by the JWT. The default sort returned is alphabetical, ascending. The default page size is 10 items",
        "operationId": "listFiles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "volume.id",
            "description": "Optional field that specifies comma-separated volume IDs to include in the list",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "volume.name",
            "description": "Optional field that specifies comma-separated volume names to include in the list",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "path",
            "description": "Optional field that specifies comma-separated paths to include in the list. Value can use wildcards (e.g. /a/b/c/*) or exact matches (e.g. /a/b/c/d/).",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "isUploaded",
            "description": "Optional field to filter by Uploaded files",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "archiveStatus",
            "description": "Optional field that specifies comma-separated Archive Statuses to include in the list",
            "type": "string"
          },
          {
            "in": "query",
            "name": "recursive",
            "description": "Optional field to specify if files should be returned recursively in and under the specified paths, or only directly in the specified paths",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "presignedUrlMode",
            "description": "Optional parameter to specify presigned url's content-disposition. If not specified, the browser will determine the default behavior.\r\nPossible values: Attachment, Inline, Browser",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response. Multiple fields can be included by comma-separation.\r\nPossible values: TotalItemCount, PresignedUrl, InheritedAcl",
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "START_DESC END_DESC",
            "type": "integer",
            "format": "int32",
            "maximum": 10000,
            "minimum": 0
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "START_DESC END_DESC",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "Optional parameter to see shared data in another tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata.include",
            "description": "Optional parameter to specify comma separated patterns to include metadata by their field names.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata.exclude",
            "description": "Optional parameter to specify comma separated patterns to exclude metadata by their field names.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FileListResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/files/list": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Get a list of volume files",
        "description": "Gets file list by volume ID and an array of file IDs. The default sort returned is alphabetical, ascending",
        "operationId": "listVolumeFiles",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VolumeFileListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/VolumeFileListResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/files/copy": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Copy list of files",
        "description": "Copies a list of files enumerated by file Ids to a destination folder",
        "operationId": "copyFiles",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileListCopyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/files/{fileId}:completeUpload": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Complete a file Upload",
        "description": "Complete a file upload operation. If the file was uploaded using multipart uploads, combine all the multiple parts uploaded into one complete file.",
        "operationId": "completeFileUpload",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "Unique identifier for the file upload to be completed.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileUploadCompleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FileResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "File not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/files/{fileId}:archive": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Archive a file",
        "description": "Archives a file to a lower storage cost tier.",
        "operationId": "archiveFile",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "Unique identifier for the file to be archived.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileArchiveRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FileResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "File not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/files/{fileId}:unarchive": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Unarchive a file",
        "description": "Unarchive a file from a lower storage cost tier.",
        "operationId": "unarchiveFile",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "Unique identifier for the file to be unarchived.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileUnarchiveRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/FileResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "File not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/folders": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get a list of folders",
        "description": "Given a volumeId or volume name, get a list of folders accessible by the JWT. The default sort returned is alphabetical, ascending. The default page size is 10 items",
        "operationId": "listFolders",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "volume.id",
            "description": "Optional field that specifies comma-separated volume IDs to include in the list",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "volume.name",
            "description": "Optional field that specifies comma-separated volume names to include in the list",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "path",
            "description": "Optional field that specifies comma-separated paths to include in the list. Value can use wildcards (e.g. /a/b/c/*) or exact matches (e.g. /a/b/c/d/).",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "jobStatuses",
            "description": "Optional field that specifies comma-separated JobStatuses to include in the list",
            "type": "string"
          },
          {
            "in": "query",
            "name": "acls",
            "description": "Optional field that specifies comma-separated acls to include in the list",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "recursive",
            "description": "Optional field to specify if folders should be returned recursively in and under the specified paths, or only directly in the specified paths",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "START_DESC END_DESC",
            "type": "integer",
            "format": "int32",
            "maximum": 10000,
            "minimum": 0
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "START_DESC END_DESC",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response. Multiple fields can be included by comma-separation.\r\nPossible values: TotalItemCount, InheritedAcl",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "Optional parameter to see shared data in another tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata.include",
            "description": "Optional parameter to specify comma separated patterns to include metadata by their field names.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata.exclude",
            "description": "Optional parameter to specify comma separated patterns to exclude metadata by their field names.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FolderListResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create a folder in GDS and receive credentials for upload",
        "description": "Create a folder entry in GDS. Returns temporary credentials for folder upload directly to S3 when the include=objectStoreAccess parameter is used. Volume ID or volume name is required for folder creation. If a folder path is provided and does not exist, GDS automatically creates the folder path in the appropriate account.",
        "operationId": "createFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFolderRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created new Folder.",
            "schema": {
              "$ref": "#/definitions/FolderWriteableResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "A conflict was found. Make sure the new Folder doesn't already exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Folders"
        ],
        "summary": "Updates list of folders with metadata",
        "description": "Updates list of folders with metadata",
        "operationId": "bulkFolderUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/BulkFolderUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BulkFolderUpdateResponse"
            }
          },
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/BulkFolderUpdateResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/folders/{folderId}": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get information about a folder in GDS.",
        "description": "Get information for the specified folder ID.",
        "operationId": "getFolder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "description": "Unique identifier for the folder to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "Optional parameter to see shared data in another tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeVolumeMetadata",
            "description": "Optional parameter to return volume's metadata",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeActiveJobs",
            "description": "Optional parameter to return active jobs associated to folder",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "metadata.include",
            "description": "Optional parameter to specify comma separated patterns to include metadata by their field names.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata.exclude",
            "description": "Optional parameter to specify comma separated patterns to exclude metadata by their field names.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FolderResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Folder not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Folders"
        ],
        "summary": "Update a folder content or acl",
        "description": "Update an existing folder in GDS and return upload credentials for that folder. Changes to the folder name and other metadata are not supported at this time.  Optionally overwrite the acl for this folder if acl is provided in the request.",
        "operationId": "updateFolder",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "description": "Unique identifier for the folder to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/FolderUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FolderWriteableResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Folder not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Folders"
        ],
        "summary": "Deletes a folder by id",
        "operationId": "deleteFolder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "description": "Unique identifier for the folder to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/FolderResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Folder not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/folders/{folderId}:copy": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Copy a folder",
        "description": "Copy a folder into a target parent folder",
        "operationId": "copyFolder",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "description": "Unique identifier for the folder to be copied.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "Optional parameter to copy from a shared folder in another tenant",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FolderCopyRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Folder not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator."
          }
        }
      }
    },
    "/v1/folders/{folderId}:archive": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Archive a folder",
        "description": "Archives a folder to a lower storage cost tier.",
        "operationId": "archiveFolder",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "description": "Unique identifier for the folder to be archived.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FolderArchiveRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/FolderResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Folder not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator."
          }
        }
      }
    },
    "/v1/folders/{folderId}:unarchive": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Unarchive a folder",
        "description": "Unarchive a folder from a lower storage cost tier.",
        "operationId": "unarchiveFolder",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "description": "Unique identifier for the folder to be unarchived.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FolderUnarchiveRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/FolderResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Folder not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator."
          }
        }
      }
    },
    "/v1/folders/{folderId}/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get status of a folder upload in GDS",
        "description": "Get status of a folder upload in GDS.",
        "operationId": "getFolderSession",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "description": "Unique identifier for the folder related to the upload session.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sessionId",
            "description": "The id of the upload session",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Completed upload session.",
            "schema": {
              "$ref": "#/definitions/SessionResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/v1/folders/{folderId}/sessions/{sessionId}:complete": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Complete a folder upload in GDS",
        "description": "Complete a folder upload in GDS.",
        "operationId": "completeFolderSession",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "description": "Unique identifier for the folder related to the upload session.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sessionId",
            "description": "The id of the upload session",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompleteSessionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed upload session.",
            "schema": {
              "$ref": "#/definitions/SessionResponse"
            }
          },
          "202": {
            "description": "Upload session in progress.",
            "schema": {
              "$ref": "#/definitions/SessionResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/folders/{folderId}/sessions": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create a session",
        "description": "Create a session and credentials used for accessing the object store directly",
        "operationId": "createFolderSession",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSessionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CreateSessionResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/folders/bulkMetadataFolderUpdate": {
      "patch": {
        "tags": [
          "Folders"
        ],
        "summary": "Updates list of folders with metadata",
        "description": "Updates list of folders with metadata",
        "operationId": "bulkMetadataFolderUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/BulkFolderMetadataUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/folders/{folderId}/jobs/{jobId}": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get status of a folder job in GDS",
        "description": "Get status of a folder job in GDS.",
        "operationId": "getFolderJob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "description": "Unique identifier for the folder related to the job.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "jobId",
            "description": "The id of the job",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned job.",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/v1/jobs/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get information about a job in GDS.",
        "description": "Get information for the specified job ID.",
        "operationId": "getJob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "jobId",
            "description": "Unique identifier for the job to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "Optional parameter to see shared data in another tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeErrors",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Job not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a list of jobs for a given folder",
        "description": "Given a folder id, get a list of jobs accessible by the JWT. The default sort returned is by job progress status. The default page size is 10 items",
        "operationId": "listJobs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "jobStatuses",
            "description": "Optional field that specifies comma-separated JobStatuses to include in the list",
            "type": "string"
          },
          {
            "in": "query",
            "name": "folderId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "START_DESC END_DESC",
            "type": "integer",
            "format": "int32",
            "maximum": 1000,
            "minimum": 0
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "START_DESC END_DESC",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response. Multiple fields can be included by comma-separation.\r\nPossible values: TotalItemCount, InheritedAcl",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/JobListResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/jobs/{jobId}:abort": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Abort a job in GDS.",
        "description": "Abort the specified job ID.",
        "operationId": "abortJob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "jobId",
            "description": "Unique identifier for the job to be aborted.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Job not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator."
          }
        }
      }
    },
    "/v1/volumeconfigurations": {
      "get": {
        "tags": [
          "VolumeConfigurations"
        ],
        "summary": "Get a list of volumes",
        "operationId": "listVolumeConfigurations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "onlineStatus",
            "description": "Optional field that specifies the Online Status for Volume configurations included in the list.\r\nIf provided, the value must be Initializing, Ok, or Error.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "START_DESC END_DESC",
            "type": "integer",
            "format": "int32",
            "maximum": 1000,
            "minimum": 0
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "START_DESC END_DESC",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response. Multiple fields can be included by comma-separation.\r\nPossible values: TotalItemCount, InheritedAcl",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/VolumeConfigurationListResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "VolumeConfigurations"
        ],
        "summary": "Create a volume configuration in GDS.",
        "description": "Create a volume configuration in GDS. This contains the object store details that will be used to create volumes.",
        "operationId": "createVolumeConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateVolumeConfigurationRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created new Volume Configuration.",
            "schema": {
              "$ref": "#/definitions/VolumeConfigurationResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "A conflict was found. Make sure the new Volume configuration name doesn't already exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/volumeconfigurations/{volumeConfigurationName}": {
      "get": {
        "tags": [
          "VolumeConfigurations"
        ],
        "summary": "Get information for the specified volume configuration name or Id",
        "operationId": "getVolumeConfiguration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "volumeConfigurationName",
            "description": "Unique name of the volume configuration to retrieve information for.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/VolumeConfigurationResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Volume configuration not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "VolumeConfigurations"
        ],
        "summary": "Deletes a volume configuration by Id or name",
        "operationId": "deleteVolumeConfiguration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "volumeConfigurationName",
            "description": "Unique name of the Volume Configuration to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/VolumeResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Volume not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/volumeconfigurations/{volumeConfigurationName}:validate": {
      "post": {
        "tags": [
          "VolumeConfigurations"
        ],
        "summary": "Validate a volume configuration",
        "description": "Validate an existing volume configuration.",
        "operationId": "validateVolumeConfiguration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "volumeConfigurationName",
            "description": "Unique name of the volume configuration to be validated.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/VolumeConfigurationResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Volume configuration not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/volumes": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "Get a list of volumes",
        "description": "Get a list of volumes accessible by the current JWT token’s tenant ID in GDS. The default sort returned is alphabetical, ascending. The default page size is 10 items.",
        "operationId": "listVolumes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pageSize",
            "description": "START_DESC END_DESC",
            "type": "integer",
            "format": "int32",
            "maximum": 1000,
            "minimum": 0
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "START_DESC END_DESC",
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response. Multiple fields can be included by comma-separation.\r\nPossible values: TotalItemCount, InheritedAcl",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "Optional parameter to see shared data in another tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "volumeConfigurationName",
            "description": "Unique name of the volume configuration",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/VolumeListResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Create a volume in GDS and receive temporary credentials for upload",
        "description": "Create a volume in GDS to hold folders and files. Returns upload credentials to the root folder of the volume when the include=objectStoreAccess parameter is used. You must create a volume prior to uploading files or folders.",
        "operationId": "createVolume",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateVolumeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created new Volume.",
            "schema": {
              "$ref": "#/definitions/CreateVolumeResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "A conflict was found. Make sure the new Volume doesn't already exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/volumes/{volumeId}": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "Get information for the specified volume ID or volume name",
        "operationId": "getVolume",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "volumeId",
            "description": "Unique identifier for the volume to retrieve information for.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "Optional parameter to see shared data in another tenant",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata.include",
            "description": "Optional parameter to specify comma separated patterns to include metadata by their field names.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata.exclude",
            "description": "Optional parameter to specify comma separated patterns to exclude metadata by their field names.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/VolumeResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Volume not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Volumes"
        ],
        "summary": "Update a volume content",
        "description": "Update an existing volume in GDS and return upload credentials for that volume. ",
        "operationId": "updateVolume",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "volumeId",
            "description": "Unique identifier for the volume to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optionally include additional fields in the response.\r\n            Possible values: ObjectStoreAccess",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateVolumeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/VolumeResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Volume not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Volumes"
        ],
        "summary": "Deletes a volume by Id",
        "operationId": "deleteVolume",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "volumeId",
            "description": "Unique identifier for the Volume to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "purgeObjectStoreData",
            "description": "Optional and for BYOB only. If true, the volume's data in object storage will be erased.\r\n            This field is ignored for non-BYOB volumes where the object store data is always removed upon deleting the volume.",
            "type": "boolean"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/VolumeResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Volume not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected issue. Please try your request again. If problem persists, please contact the system administrator.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AWSS3ObjectStoreSetting": {
      "required": [
        "bucketName"
      ],
      "type": "object",
      "properties": {
        "bucketName": {
          "description": "The bucket name",
          "maxLength": 63,
          "minLength": 3,
          "type": "string"
        },
        "keyPrefix": {
          "description": "Key prefix within the bucket for GDS to operate within. Volumes may only be created within this prefix and the given credentials need only authorize\r\naccess here. If not set, default is to allow operation on the full bucket. No leading slash, and must end with a trailing slash.",
          "pattern": "^[^/].*$",
          "type": "string"
        },
        "serverSideEncryptionAlgorithm": {
          "description": "Used to specify the type of server-side encryption (SSE) to be used on the object provider.\r\nThis value is used to determine the Amazon S3 header \"x-amz-server-side-encryption\" value.\r\nFor example, specify \"AES256\" for SSE-S3, or \"AWS:KMS\" for SSE-KMS.\r\nBy default if none is specified, \"AES256\" will be used.",
          "type": "string"
        },
        "serverSideEncryptionKey": {
          "description": "Used to specify the serve-side encryption key that might be associated with the specified server-side encryption algorithm\r\nThis value can be the AWS KMS arn key, to be used for the Amazon S3 header \"x-amz-server-side-encryption-aws-kms-key-id\" value\r\nValue will be ignored if encryption is \"AES256\"",
          "type": "string"
        }
      }
    },
    "ArchiveStatuses": {
      "description": "The valid Archive Status values for files in GDS",
      "enum": [
        "None",
        "Archived",
        "Unarchiving"
      ],
      "type": "string"
    },
    "AwsS3PresignedUrlForUpload": {
      "description": "AwsS3PresignedUrlForUpload",
      "type": "object",
      "properties": {
        "singlePartUrl": {
          "description": "A single part presigned url for upload",
          "type": "string"
        },
        "multipartTemplate": {
          "description": "A url template for multi parts presigned url for upload",
          "type": "string"
        },
        "multipartSignatures": {
          "description": "Multi parts info that needs to be applied to the MultipartTemplate",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartInfo"
          }
        },
        "multipartUploadId": {
          "description": "Multi part upload id",
          "type": "string"
        },
        "serverSideEncryptionAlgorithm": {
          "description": "The server side encryption method used by S3.\r\nThis value is used to determine the Amazon S3 header \"x-amz-server-side-encryption\" value.\r\nPossible values: 'AES256' and 'aws:kms'.",
          "type": "string"
        },
        "serverSideEncryptionKey": {
          "description": "Server-side encryption key that might be associated with the specified server-side encryption algorithm\r\nThis value can be the AWS KMS arn key, to be used for the Amazon S3 header \"x-amz-server-side-encryption-aws-kms-key-id\" value\r\nThis is only used when ServerSideEncryptionAlgorithm is 'aws:kms'",
          "type": "string"
        }
      }
    },
    "AwsS3TemporaryReadOnlyCredentials": {
      "type": "object",
      "properties": {
        "access_Key_Id": {
          "description": "Access key for use with AWS S3",
          "type": "string"
        },
        "secret_Access_Key": {
          "description": "Secret key for use with AWS S3",
          "type": "string"
        },
        "session_Token": {
          "description": "Token for use with AWS S3",
          "type": "string"
        },
        "region": {
          "description": "AWS region the folder will/does reside in",
          "type": "string"
        },
        "bucketName": {
          "description": "AWS bucket the folder will/does reside in",
          "type": "string"
        },
        "keyPrefix": {
          "description": "AWS upload location for this folder",
          "type": "string"
        },
        "expirationDate": {
          "format": "date-time",
          "description": "expiration for temporary credentials",
          "type": "string"
        },
        "serviceUrl": {
          "description": "Service endpoint for accessing S3.\r\nThis is optional for AWS S3, but mandatory for other services like Taiwan Computing Cloud.",
          "type": "string"
        },
        "serverSideEncryptionAlgorithm": {
          "description": "Used to specify the type of server-side encryption (SSE) to be used on the object provider.\r\nThis value is used to determine the Amazon S3 header \"x-amz-server-side-encryption\" value.\r\nFor example, specify \"AES256\" for SSE-S3, or \"AWS:KMS\" for SSE-KMS.\r\nBy default if none is specified, \"AES256\" will be used.",
          "type": "string"
        },
        "serverSideEncryptionKey": {
          "description": "Used to specify the serve-side encryption key that might be associated with the specified server-side encryption algorithm\r\nThis value can be the AWS KMS arn key, to be used for the Amazon S3 header \"x-amz-server-side-encryption-aws-kms-key-id\" value\r\nValue will be ignored if encryption is \"AES256\"",
          "type": "string"
        }
      }
    },
    "AwsS3TemporaryUploadCredentials": {
      "description": "AwsS3TemporaryUploadCredentials",
      "type": "object",
      "properties": {
        "access_Key_Id": {
          "description": "Access key for use with AWS S3",
          "type": "string"
        },
        "secret_Access_Key": {
          "description": "Secret key for use with AWS S3",
          "type": "string"
        },
        "session_Token": {
          "description": "Token for use with AWS S3",
          "type": "string"
        },
        "region": {
          "description": "AWS region the folder will/does reside in",
          "type": "string"
        },
        "bucketName": {
          "description": "AWS bucket the folder will/does reside in",
          "type": "string"
        },
        "keyPrefix": {
          "description": "AWS upload location for this folder",
          "type": "string"
        },
        "expirationDate": {
          "format": "date-time",
          "description": "expiration for temporary credentials",
          "type": "string"
        },
        "serviceUrl": {
          "description": "Service endpoint for accessing S3.\r\nThis is optional for AWS S3, but mandatory for other services like Taiwan Computing Cloud.",
          "type": "string"
        },
        "serverSideEncryptionAlgorithm": {
          "description": "Used to specify the type of server-side encryption (SSE) to be used on the object provider.\r\nThis value is used to determine the Amazon S3 header \"x-amz-server-side-encryption\" value.\r\nFor example, specify \"AES256\" for SSE-S3, or \"AWS:KMS\" for SSE-KMS.\r\nBy default if none is specified, \"AES256\" will be used.",
          "type": "string"
        },
        "serverSideEncryptionKey": {
          "description": "Used to specify the serve-side encryption key that might be associated with the specified server-side encryption algorithm\r\nThis value can be the AWS KMS arn key, to be used for the Amazon S3 header \"x-amz-server-side-encryption-aws-kms-key-id\" value\r\nValue will be ignored if encryption is \"AES256\"",
          "type": "string"
        }
      }
    },
    "BulkFailedItem": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of resource that failed",
          "type": "string"
        },
        "errorResponse": {
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    },
    "BulkFileUpdateItem": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of this file",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about this file and its contents"
        },
        "format": {
          "description": "The File's Format",
          "type": "string"
        },
        "formatEdam": {
          "description": "The File's Edam Format",
          "type": "string"
        },
        "lifeCycle": {
          "$ref": "#/definitions/FileLifeCycleSettings"
        }
      }
    },
    "BulkFileUpdateRequest": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BulkFileUpdateItem"
          }
        },
        "timeOutInSeconds": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "BulkFileUpdateResponse": {
      "type": "object",
      "properties": {
        "itemsFailed": {
          "description": "Items failed to be updated with error details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BulkUpdateFailedItem"
          }
        },
        "itemsUpdatedCount": {
          "format": "int32",
          "description": "Total items successfully updated",
          "type": "integer"
        },
        "itemsFailedCount": {
          "format": "int32",
          "description": "Total items failed to be updated",
          "type": "integer"
        }
      }
    },
    "BulkFolderMetadataUpdateRequest": {
      "description": "Request to bulk update metadata on folders and sub files.",
      "required": [
        "folderId"
      ],
      "type": "object",
      "properties": {
        "folderId": {
          "description": "Folder unique id.",
          "type": "string"
        },
        "fileStatus": {
          "description": "File status to filter on.",
          "type": "string"
        },
        "parentFolderMetadataUpdates": {
          "$ref": "#/definitions/MetadataUpdateRequest"
        },
        "childrenFoldersUpdates": {
          "$ref": "#/definitions/MetadataUpdateRequest"
        },
        "childrenFilesUpdates": {
          "$ref": "#/definitions/MetadataUpdateRequest"
        }
      }
    },
    "BulkFolderUpdateItem": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of this folder",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about this folder and its contents"
        }
      }
    },
    "BulkFolderUpdateRequest": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BulkFolderUpdateItem"
          }
        },
        "timeOutInSeconds": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "BulkFolderUpdateResponse": {
      "type": "object",
      "properties": {
        "itemsFailed": {
          "description": "Items failed to be updated with error details",
          "type": "array",
[...]
